# Ignore all
*

# Un-ignore
!*/
!*.c
!*.h
!*.asm
!.gitignore
!README.md

# Specifically ignore files
*main.c
_putchar.c
c_pattern.c

# Specifically unignore files
!/function_pointers/3-main.c
!/pointers_arrays_strings/101-crackme_password
!/doubly_linked_lists/100-password
!/doubly_linked_lists/102-result

